node_modules/
.expo/
.expo-shared/
npm-debug.log
yarn-error.log
.DS_Store
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*.txt
AppData/
ElevatedDiagnostics/
Temp/
Local/
Perplexity/
OneDrive/
*.xml
*.tmp
*.aodl
android/
ios/
